body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert {
  z-index: 1000; /* Make sure it's on top */
  position: relative; /* Adjust positioning */
  overflow: visible;
  white-space: normal; 
}

input:invalid {
  position: relative; /* Ensure the tooltip remains relative to the input field */
}

input:invalid::after {
  content: attr(title);
  position: absolute;
  background: #f8d7da;
  color: #721c24;
  padding: 0.5em;
  border-radius: 4px;
  white-space: nowrap;
  top: 100%;
  left: 0;
  transform: translateY(5px); /* Display tooltip slightly below the input */
  z-index: 100;
}


/* Mobile Styles (default) */
.container {
  width: 100%;
  padding: 10px;
}

input[type="text"], input[type="date"], input[type="number"], input[type="email"], select, textarea {
  padding: 10px;
  margin-bottom: 10px;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.table {
  width: 100%;
}

td {
  padding: 8px;
}

.customerInput{ 
  margin: 0 2.5%;
  width: 95%;
}

.slideshow-image {
  width: 100%;        /* Ensures images are responsive and fill their container */
  height: 300px;      /* Set a consistent height */
  object-fit: cover;  /* Crop images to cover the container without distortion */
  border-radius: 8px; /* Optional: adds rounded corners */
}
